text-saver/src/libs/**
link-preview/src/microtip.min.css
draft-pilot/src/shared/Readability.min.js
target
public
zigos/resources
zigos/layouts/shortcodes/include.html
zig-build
env
venv
shellgpt/contents.json
*min.css
GEMINI.md
